<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dita Salsabila</title>
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
</head>

<body>
    <nav>
        <a href="/">Home</a> |
        <a href="/assets/CV.pdf">Download CV</a> |
        <a href="/contact">Contact</a> |
        <a href="/about">About me</a>
    </nav>

    <hr />

    <article>
        <h1>About Me</h1>
        <p>
            Hi, saya adalah seorang mahasiswa. 
            Saya dari program studi Manajemen Informatika di Politeknik Negeri Lampung.
        </p>
        <p>
            Saya sedang belajar mengenai Pemrograman Web Framework. 
            Saya ingin menguasai bahasa HTML, CSS, dan Javascript serta menggunakan Node.Js.
        </p>
        <p>
            <video controls>
                <source src="assets/video-about.mp4" type="video/mp4"/>
            </video>
        </p>
    </article>

    <hr>
    <footer style="text-align: center;">

        <p>Copyright &copy; 2022 Dita Salsabila.</p>
    </footer>
</body>
</html>