<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dita Salsabila</title>
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
</head>

<body>
    <nav>
        <a href="/">Home</a> |
        <a href="/assets/CV.pdf">Download CV</a> |
        <a href="/contact">Contact</a> |
        <a href="/about">About me</a>
    </nav>

    <hr />

    <header style="text-align: center;">
        <img src="assets/foto-profil.jpg" width="200" height="200" style="border-radius: 50%;"/>
        <h1>Dita Salsabila</h1>
        <p>Mahasiswa di Politeknik Negeri Lampung</p>
    </header>

    <hr />

    <article style="text-align:center; : 600px; margin: 3em auto;">
        <h2>Overview</h2>
        <p>
            Hi, saya adalah seorang Mahasiswa. <br />
            Saya dari program studi Manajemen Informatika di Politeknik Negeri Lampung.
        </p>
    </article>

    <div style="max-width: 600px; margin: 3em auto">
        <table border="1" width="100%">
            <thead>
                <tr>
                    <th>Pendidikan</th>
                    <th>Pengalaman</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <ul>
                            <li>SD Negeri 1 BandingAgung</li>
                            <li>SMP Negeri 2 Talangpadang</li>
                            <li>SMA Negeri 1 Talangpadang</li>
                            <li>Politeknik Negeri Lampung</li>
                        </ul>
                    </td>
                <td>
                        <ul>
                            <li>Anggota Drumband</li>
                            <li>Ketua OSIS</li>
                            <li>Ketua PRAMUKA SMA</li>
                            <li>Sekretaris Umum</li>
                        </ul>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <hr>
    <footer style="text-align: center;">
        <p>Copyright &copy; 2022 Dita Salsabila.</p>
    </footer>
</body>
</html>